{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}
<section class="about-container">
    <div class="about">
        <p>A fun and interactive app for tracking all of your general maintenance tasks. Whether for your home, vehicle, or otherwise, create tasks and organize by category, view stats, check off completed tasks, make notes for the next time, and level up as you do! 
        </p>
    </div>
</section>
{% endblock %}