{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="edit-or-add">
    {% if category %}
        <h1>Edit this category: {{ category.category_name }}</h1>
    {% else %}
        <h1>Add a Category</h1>
    {% endif %}
</div>

<form action="" method="POST" class="form-container">
    <div class="category-form">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="submit-button">Submit!</button>
    </div>
</form>

{% endblock %}