@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #F7E6CA;
    background-attachment: fixed;
}

header {
    display: flex;
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: red; */
    z-index: 1000;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.header-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-logo-container h1 {
    font-family: "Anta", sans-serif;
    font-size: 60px;
    margin: 0;
    line-height: 0.5;
}

.navbar {
    font-family: "Anta", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin-top: 10px;
    border: 3px solid rgba(127, 165, 158, 0.788);
    box-sizing: border-box;
    border-radius: 30px;
}


/* .signin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 16em;
    height: 50%;
    background-color: rgba(228, 127, 57, 1.0);
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    box-shadow: 10px 5px 5px rgba(127, 165, 158, 1.0);
    margin-left: 2rem;
}

h1 {
    font-size: 25px;
    padding: 5px 30px 10px 0;
}

input {
    box-sizing: border-box;
    border: 2px solid black;
}

.signup-button,
.signin-button {
    padding: 10px;
    background-color: rgba(164, 245, 231, 0.2);
    color: white;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    backdrop-filter: opacity(20%);
    cursor: pointer;
    font-family: "Michroma", sans-serif;
}

.signin-button:hover,
.signup-button:hover {
    color: black;
}

.signin-button:active,
.signup-button:active {
    transform: translateY(4px);
} */