.edit-or-add {
    margin-top: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 15px;
}

.home-form,
.vehicle-form,
.category-form,
.task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40em;
    height: 50%;
    background-color: rgba(228, 127, 57, 0.9);
    padding: 30px 30px 20px 50px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    box-shadow: 10px 5px 5px rgba(127, 165, 158, 1.0);
    margin-left: 2rem;
}

.submit-button {
    padding: 10px;
    background-color: rgba(127, 165, 158, 0.7);
    color: black;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    backdrop-filter: opacity(20%);
}

.submit-button:active {
    transform: translateY(4px);
}

input,
textarea,
select {
    box-sizing: border-box;
    border: 2px solid black;
}

td {
    padding: 5px;  
}