.vehicle-category-container,
.home-category-container,
.home-task-open-container,
.home-task-closed-container,
.vehicle-task-open-container,
.vehicle-task-closed-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
}

.home-task-open-container,
.home-task-closed-container,
.vehicle-task-open-container,
.vehicle-task-closed-container {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}

.vehicle-category-details,
.home-category-details,
.vehicle-task-details,
.home-task-details {
    display: contents;
}

#category-header,
#task-header {
    margin-top: 30px;
    font-size: 50px;
}

.card {
    background-color: rgba(239, 86, 58, 0.7) !important;
    height: 260px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgba(251, 193, 81, 1.0);
}

.edit-button,
.delete-button {
    padding: 10px;
    background-color: rgba(251, 193, 81, 0.5);
    color: black;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    backdrop-filter: opacity(20%);
}

.edit-button:active,
.delete-button:active {
    transform: translateY(4px);
}

.card-link:active {
    transform: translateY(4px);
}