.home-category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1rem;
}

.home-category-details {
    display: flex;
    /* flex: 1 1 300px; */
    width: 400px;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    margin-top: 30px;
    font-size: 50px;
}