/* .profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: red;
    margin-top: 50px;
} */

.profile-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 40px;
    margin-top: 50px;
}

.xp-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
    margin-bottom: 30px;
}

.xp-details .xp-gains {
    flex: 1;
}

.card {
    background-color: rgba(127, 165, 158, 0.5) !important;
    max-height: 583px;
    margin-bottom: 30px;
    /* box-shadow: 10px 5px 5px rgba(239, 86, 58, 0.7); */
}


.home-vehicle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.home-details,
.vehicle-details {
    flex: 1 1 300px;
    max-width: 400px;
}

.edit-button,
.delete-button {
    padding: 10px;
    background-color: rgba(239, 86, 58, 0.5);
    color: black;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    backdrop-filter: opacity(20%);
}

.edit-button:active,
.delete-button:active {
    transform: translateY(4px);
}

