/* .profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: red;
    margin-top: 50px;
} */

.profile-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 40px;
    margin-top: 50px;
}

.xp-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
}

.xp-details .xp-gains {
    flex: 1;
}

/* .xp-gains {
    display: flex;
    flex-direction: column;
} */
