{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block content %}
<section class="profile-container">
    <div class="profile-details">
        <h1>Welcome to your profile page, {{ profile.user.username }}!</h1>
    </div>
    <section class="xp-container">
        <div class="xp-details">
            <p>Current XP: {{ profile.xp }}</p>
            <p>XP to next level: {{ profile.xp_to_next_level }}</p>
            <p>Current Level: {{ profile.level}}</p>
        </div>
        <div class="xp-gains">
            <h3>Recent XP Gains:</h3>
            {% if xp_logs %}
                <ul>
                    {% for log in xp_logs %}
                        <li>You gained {{log.xp_gained}} XP on {{log.date_logged}} for completing {{log.task.task_name}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No XP events yet!  Go complete some tasks, you goober!</p>
            {% endif %}
        </div>
    </section>
</section>

<section class="home-vehicle-container">
    <div class="home-details">
        {% if profile.home_set.all %}
            {% for home in profile.home_set.all %}
                <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        {% if home.home_photo %}
                            <img src="{{ home.home_photo.url }}" alt="An uploaded photo of {{ home.home_address }}">            
                        {% else %}
                            <img src="{% static 'images/default_home.jpeg' %}" alt="cartoon home on a sunny day">
                        {% endif %} 
                    </figure>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Home Stats:</h3>
                            <h5>Open Home Tasks: {{ pending_home_tasks }}</h5>
                            <h5>Completed Home Tasks: {{ completed_home_tasks }}</h5>
                        </div>
                        <ul>Address: {{ home.home_address}}</ul>
                        <ul>Square Footage: {{ home.home_sqft}}</ul>
                        <ul>Bedrooms: {{ home.home_bedrooms }}</ul>
                        <ul>Bathrooms: {{ home.home_bathrooms }}</ul>
                        <ul>Purchase/Rental Date: {{ home.home_acquired }}</ul> 
                        <div class="card-actions justify-end">
                            <a href="{% url 'home-update' home.id %}" class="edit-button">Edit Home</a>
                            <a href="{% url 'home-delete' home.id %}" class="delete-button">Delete Home</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>{{ profile.user.username }} does not have any homes to display!</p>
        {% endif %}
    </div>

    <div class="vehicle-details">
        {% if profile.vehicle_set.all %}
            {% for vehicle in profile.vehicle_set.all %}
                <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        {% if vehicle.vehicle_photo %}
                            <img src="{{ vehicle.vehicle_photo.url }}" alt="An uploaded photo of a {{ vehicle.vehicle_make }} {{ vehicle.vehicle_model }}">            
                        {% else %}
                            <img src="{% static 'images/default_car.jpeg' %}" alt="cartoon car in a garage">
                        {% endif %} 
                    </figure>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Vehicle Stats:</h3>
                            <h5>Open Vehicle Tasks: {{ pending_vehicle_tasks }}</h5>
                            <h5>Completed Vehicle Tasks: {{ completed_vehicle_tasks }}</h5>
                        </div>
                        <ul>Vehicle's Name: {{ vehicle.vehicle_name }}</ul>
                        <ul>Make: {{ vehicle.vehicle_make }}</ul>
                        <ul>Model: {{ vehicle.vehicle_model }}</ul>
                        <ul>Year: {{ vehicle.vehicle_year }}</ul>
                        <div class="card-actions justify-end">
                            <a href="{% url 'vehicle-update' vehicle.id %}" class="edit-button">Edit Vehicle</a>
                            <a href="{% url 'vehicle-delete' vehicle.id %}" class="delete-button">Delete Vehicle</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>{{ profile.user.username }} does not have any vehicles to display!</p>
        {% endif %}
    </div>
</section>  
{% endblock %}
